In [29]:
import pandas as pd
from IPython.display import display
sports = pd.read_csv(r'sport_athletes.csv')
#1

display(sports)
display(sports.groupby("Sport Type")[['Weight(kg)', 'Height(cm)', 'Wins']].max().rename(columns={'Weight(kg)':"max_weight", 'Height(cm)':"max_height", 'Wins':"max_wins"}))

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

                 max_weight  max_height  max_wins
Sport Type
Basketball              147         216         3
Cycling                  72         186         5
Gymnastics               52         160         5
Soccer                   83         187         3
Swimming                 90         200         5
Tennis                   85         188         4
Track and Field          94         195         6

In [41]:
#2
display(sports.groupby("Sport Type")[['Weight(kg)', 'Height(cm)', 'Wins']].min().sort_values(by='Weight(kg)', ascending = True))

                 Weight(kg)  Height(cm)  Wins
Sport Type
Basketball               96         198     1
Tennis                   70         175     2
Cycling                  68         175     3
Swimming                 58         180     3
Soccer                   57         163     2
Track and Field          57         165     3
Gymnastics               45         142     3

In [113]:
#3
display(sports[["Sport Type", "Athlete Name", 'Height(cm)']].sort_values(by="Height(cm)", ascending = False).groupby("Sport Type").head(2))

         Sport Type       Athlete Name  Height(cm)
4        Basketball   Shaquille O'Neal         216
3        Basketball       Kevin Durant         208
15         Swimming           Sun Yang         200
14         Swimming         Ian Thorpe         196
20  Track and Field         Usain Bolt         195
21  Track and Field         Carl Lewis         188
19           Tennis     Novak Djokovic         188
7            Soccer  Cristiano Ronaldo         187
28          Cycling      Primoz Roglic         186
16           Tennis      Roger Federer         185
9            Soccer    Zinedine Zidane         185
27          Cycling      Tadej Pogacar         184
33       Gymnastics        Aly Raisman         160
34       Gymnastics      Shawn Johnson         157

In [161]:
#4
#a
display(sports.groupby(["Sport Type", "Country"]).max())

#b
display(sports.groupby(["Sport Type", "Country"]).max().head(1))

#c
display(sports.groupby(["Sport Type", "Country"]).max().xs('Soccer'))

#d
display(sports.groupby(["Sport Type", "Country"]).max().loc[['Soccer', 'Tennis']])

#e
display(sports.groupby(["Sport Type", "Country"]).max().swaplevel())

#f
display(sports.groupby(["Sport Type", "Country"]).agg({"Wins":['max', 'mean', 'min', 'std'], "Height(cm)":['max', 'mean', 'min', 'std']}))

                                     Athlete Name  Height(cm)  Weight(kg)  \
Sport Type      Country
Basketball      USA              Shaquille O'Neal         216         147
Cycling         Belgium               Eddy Merckx         181          72
                Netherlands  Anna van der Breggen         175          68
                Slovenia            Tadej Pogacar         186          69
                UK                 Geraint Thomas         183          71
Gymnastics      Romania            Nadia Comaneci         155          50
                USA                  Simone Biles         160          52
Soccer          Argentina            Lionel Messi         170          69
                Brazil                       Pel√©         174          72
                France            Zinedine Zidane         185          80
                Portugal        Cristiano Ronaldo         187          83
                USA                 Megan Rapinoe         168          62
Swimming        Australia              Ian Thorpe         196          85
                China                    Sun Yang         200          90
                USA                Michael Phelps         193          88
Tennis          Serbia             Novak Djokovic         188          84
                Spain                Rafael Nadal         185          85
                Switzerland         Roger Federer         185          85
                USA               Serena Williams         175          70
Track and Field Jamaica                Usain Bolt         195          94
                UK                       Mo Farah         176          65
                USA             Florence Griffith         188          81

                             Wins Olympic Date
Sport Type      Country
Basketball      USA             3   24/08/2012
Cycling         Belgium         5   15/08/1980
                Netherlands     4   10/08/2020
                Slovenia        3   11/08/2020
                UK              4   08/08/2012
Gymnastics      Romania         5   18/08/1976
                USA             5   15/08/2008
Soccer          Argentina       2   11/08/2016
                Brazil          3   18/08/1970
                France          3   17/08/1998
                Portugal        2   25/08/2008
                USA             2   05/08/2020
Swimming        Australia       4   11/08/2000
                China           3   08/08/2012
                USA             5   25/08/2012
Tennis          Serbia          4   10/08/2020
                Spain           3   05/08/2016
                Switzerland     2   28/07/2008
                USA             4   01/08/2012
Track and Field Jamaica         6   22/08/2012
                UK              5   05/08/2016
                USA             4   18/08/1988

,,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
Sport Type,Country,,,,,
Basketball,USA,Shaquille O'Neal,216,147,3,24/08/2012

                Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Country
Argentina       Lionel Messi         170          69     2   11/08/2016
Brazil                  Pel√©         174          72     3   18/08/1970
France       Zinedine Zidane         185          80     3   17/08/1998
Portugal   Cristiano Ronaldo         187          83     2   25/08/2008
USA            Megan Rapinoe         168          62     2   05/08/2020

                             Athlete Name  Height(cm)  Weight(kg)  Wins  \
Sport Type Country
Soccer     Argentina         Lionel Messi         170          69     2
           Brazil                    Pel√©         174          72     3
           France         Zinedine Zidane         185          80     3
           Portugal     Cristiano Ronaldo         187          83     2
           USA              Megan Rapinoe         168          62     2
Tennis     Serbia          Novak Djokovic         188          84     4
           Spain             Rafael Nadal         185          85     3
           Switzerland      Roger Federer         185          85     2
           USA            Serena Williams         175          70     4

                       Olympic Date
Sport Type Country
Soccer     Argentina     11/08/2016
           Brazil        18/08/1970
           France        17/08/1998
           Portugal      25/08/2008
           USA           05/08/2020
Tennis     Serbia        10/08/2020
           Spain         05/08/2016
           Switzerland   28/07/2008
           USA           01/08/2012

,,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
Country,Sport Type,,,,,
USA,Basketball,Shaquille O'Neal,216,147,3,24/08/2012
Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
Slovenia,Cycling,Tadej Pogacar,186,69,3,11/08/2020
UK,Cycling,Geraint Thomas,183,71,4,08/08/2012
Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
USA,Gymnastics,Simone Biles,160,52,5,15/08/2008
Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
Brazil,Soccer,Pel√©,174,72,3,18/08/1970
France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
China,Swimming,Sun Yang,200,90,3,08/08/2012
USA,Swimming,Michael Phelps,193,88,5,25/08/2012
Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
USA,Tennis,Serena Williams,175,70,4,01/08/2012
Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
UK,Track and Field,Mo Farah,176,65,5,05/08/2016
USA,Track and Field,Florence Griffith,188,81,4,18/08/1988

                            Wins                        Height(cm)  \
                             max      mean min      std        max
Sport Type      Country
Basketball      USA            3  2.200000   1  0.83666        216
Cycling         Belgium        5  5.000000   5      NaN        181
                Netherlands    4  4.000000   4      NaN        175
                Slovenia       3  3.000000   3  0.00000        186
                UK             4  4.000000   4  0.00000        183
Gymnastics      Romania        5  5.000000   5      NaN        155
                USA            5  3.500000   3  1.00000        160
Soccer          Argentina      2  2.000000   2      NaN        170
                Brazil         3  3.000000   3  0.00000        174
                France         3  3.000000   3      NaN        185
                Portugal       2  2.000000   2      NaN        187
                USA            2  2.000000   2      NaN        168
Swimming        Australia      4  4.000000   4      NaN        196
                China          3  3.000000   3      NaN        200
                USA            5  4.000000   3  1.00000        193
Tennis          Serbia         4  4.000000   4      NaN        188
                Spain          3  3.000000   3      NaN        185
                Switzerland    2  2.000000   2      NaN        185
                USA            4  4.000000   4      NaN        175
Track and Field Jamaica        6  6.000000   6      NaN        195
                UK             5  5.000000   5      NaN        176
                USA            4  3.666667   3  0.57735        188


                                   mean  min        std
Sport Type      Country
Basketball      USA          205.200000  198   7.563068
Cycling         Belgium      181.000000  181        NaN
                Netherlands  175.000000  175        NaN
                Slovenia     185.000000  184   1.414214
                UK           181.500000  180   2.121320
Gymnastics      Romania      155.000000  155        NaN
                USA          152.250000  142   8.015610
Soccer          Argentina    170.000000  170        NaN
                Brazil       168.500000  163   7.778175
                France       185.000000  185        NaN
                Portugal     187.000000  187        NaN
                USA          168.000000  168        NaN
Swimming        Australia    196.000000  196        NaN
                China        200.000000  200        NaN
                USA          188.000000  180   7.000000
Tennis          Serbia       188.000000  188        NaN
                Spain        185.000000  185        NaN
                Switzerland  185.000000  185        NaN
                USA          175.000000  175        NaN
Track and Field Jamaica      195.000000  195        NaN
                UK           176.000000  176        NaN
                USA          179.333333  165  12.503333

In [245]:
#5
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })
new_sports = pd.concat([sports, new_rows], axis = 0).reset_index()

,index,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,0,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,1,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [255]:
#6
#new_sports["Olympic Date"] = pd.to_datetime(new_sports["Olympic Date"], format='%d/%m/%Y', errors='coerce')
#new_sports.set_index("Olympic Date", inplace=True)
display(new_sports)
display(new_sports["Wins"])
#◊ê◊†◊ô ◊ë◊ê◊û◊™ ◊ú◊ê ◊û◊ë◊ô◊ü ◊ê◊ô◊ö ◊ú◊¢◊©◊ï◊™ ◊ê◊™ ◊ñ◊î, ◊©◊ï◊ë ◊§◊¢◊ù ◊ß◊§◊ô◊¶◊î ◊ê◊ì◊ô◊®◊î ◊ë◊ó◊ï◊û◊® ◊ô◊ó◊°◊ô◊™ ◊ú◊©◊ô◊¢◊ï◊®◊ô◊ù ◊î◊ß◊ï◊ì◊û◊ô◊ù
#◊ô◊ï◊™◊® ◊û◊ñ◊î, ◊ê◊ô◊ö ◊©◊î◊ï◊ê ◊î◊™◊ï◊õ◊†◊î ◊ñ◊ï◊õ◊®◊™ ◊ê◊™ ◊î◊ß◊ï◊ì ◊©◊¢◊©◊ô◊™◊ô ◊ë◊î◊¢◊®◊î ◊ï◊î◊©◊ê◊ô◊®◊î ◊ê◊™ ◊î◊ì◊ô◊ô◊ò ◊õ◊ê◊ô◊†◊ì◊ß◊° ◊ê◊ô◊ü ◊ú◊ô ◊û◊ï◊©◊í ◊ê◊ô◊ö
#◊ï◊ë◊í◊ú◊ú ◊ñ◊î ◊î◊®◊ô◊°◊û◊§◊ú ◊ú◊ê ◊¢◊ï◊ë◊ì, ◊õ◊ú ◊§◊¢◊ù ◊©◊ê◊†◊ô ◊¢◊ï◊©◊î ◊®◊ô◊§◊®◊© ◊î◊ï◊ê ◊©◊ï◊õ◊ó ◊ï◊ê◊ñ ◊ê◊ó◊®◊ô ◊î◊®◊¶◊î ◊ê◊ó◊™ ◊î◊ï◊ê ◊ñ◊ï◊õ◊® ◊ï◊ê◊†◊ô ◊ó◊ô◊ô◊ë ◊ú◊®◊¢◊†◊ü ◊õ◊ú ◊§◊¢◊ù

,index,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins
Olympic Date,,,,,,,
1992-08-08,0,USA,Basketball,Michael Jordan,198,98,3
2008-08-15,1,USA,Basketball,LeBron James,206,113,2
2012-08-24,2,USA,Basketball,Kobe Bryant,198,96,2
2016-08-10,3,USA,Basketball,Kevin Durant,208,109,3
2000-08-22,4,USA,Basketball,Shaquille O'Neal,216,147,1
1970-08-18,5,Brazil,Soccer,Pel√©,174,72,3
2004-08-01,6,Brazil,Soccer,Marta,163,57,3
2008-08-25,7,Portugal,Soccer,Cristiano Ronaldo,187,83,2
2016-08-11,8,Argentina,Soccer,Lionel Messi,170,69,2
1998-08-17,9,France,Soccer,Zinedine Zidane,185,80,3
2020-08-05,10,USA,Soccer,Megan Rapinoe,168,62,2
2004-08-16,11,USA,Swimming,Michael Phelps,193,88,5
2012-08-25,12,USA,Swimming,Katie Ledecky,180,58,4
2016-08-06,13,USA,Swimming,Caeleb Dressel,191,88,3
2000-08-11,14,Australia,Swimming,Ian Thorpe,196,85,4
2012-08-08,15,China,Swimming,Sun Yang,200,90,3
2008-07-28,16,Switzerland,Tennis,Roger Federer,185,85,2
2012-08-01,17,USA,Tennis,Serena Williams,175,70,4
2016-08-05,18,Spain,Tennis,Rafael Nadal,185,85,3
2020-08-10,19,Serbia,Tennis,Novak Djokovic,188,84,4
2012-08-22,20,Jamaica,Track and Field,Usain Bolt,195,94,6
1984-08-15,21,USA,Track and Field,Carl Lewis,188,81,4
2016-08-05,22,UK,Track and Field,Mo Farah,176,65,5
1988-08-18,23,USA,Track and Field,Florence Griffith,165,57,4
2016-08-08,24,USA,Track and Field,Ashton Eaton,185,77,3
2012-08-08,25,UK,Cycling,Chris Froome,180,70,4
1980-08-15,26,Belgium,Cycling,Eddy Merckx,181,72,5
2020-08-11,27,Slovenia,Cycling,Tadej Pogacar,184,69,3
2016-08-05,28,Slovenia,Cycling,Primoz Roglic,186,68,3
2008-08-08,29,UK,Cycling,Geraint Thomas,183,71,4
2020-08-10,30,Netherlands,Cycling,Anna van der Breggen,175,68,4
2016-08-05,31,USA,Gymnastics,Simone Biles,142,48,5
1976-08-18,32,Romania,Gymnastics,Nadia Comaneci,155,50,5
2012-08-10,33,USA,Gymnastics,Aly Raisman,160,52,3
2008-08-15,34,USA,Gymnastics,Shawn Johnson,157,50,3
2016-08-11,35,USA,Gymnastics,Gabby Douglas,150,45,3
2002-02-01,0,Canada,Hockey,Wayne Gretzky,183,84,3
2010-02-12,1,USA,Skiing,Lindsey Vonn,172,68,4

C:\Users\oz241\AppData\Local\Temp\ipykernel_3088\1626173390.py:5: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  display(new_sports["Wins"].resample(rule='A'))

In [271]:
#7
smoke = pd.read_csv(r"athletes_smoking.csv")
display(pd.merge(smoke, new_sports, how="left"))
display(pd.merge(new_sports, smoke, outer="full"))

,Athlete Name,Smoking,index,Country,Sport Type,Height(cm),Weight(kg),Wins
0,Michael Jordan,No,0,USA,Basketball,198,98,3
1,LeBron James,No,1,USA,Basketball,206,113,2
2,Kobe Bryant,Yes,2,USA,Basketball,198,96,2
3,Usain Bolt,No,20,Jamaica,Track and Field,195,94,6
4,Simone Biles,No,31,USA,Gymnastics,142,48,5
5,Wayne Gretzky,Yes,0,Canada,Hockey,183,84,3
6,Lindsey Vonn,No,1,USA,Skiing,172,68,4
7,Rafael Nadal,No,18,Spain,Tennis,185,85,3
8,Lionel Messi,Yes,8,Argentina,Soccer,170,69,2
9,Cristiano Ronaldo,No,7,Portugal,Soccer,187,83,2
10,Megan Rapinoe,No,10,USA,Soccer,168,62,2
11,Kevin Durant,No,3,USA,Basketball,208,109,3
12,Shaquille O'Neal,No,4,USA,Basketball,216,147,1
13,Carl Lewis,Yes,21,USA,Track and Field,188,81,4
14,Ian Thorpe,No,14,Australia,Swimming,196,85,4

TypeError: merge() got an unexpected keyword argument 'outer'